<!-- AGM 30/01/2024 - Menú deslizante del alumno en el dashboard -->
<ion-menu side="end" contentId="main-content4">
  <ion-header>
    <ion-toolbar color="light">
      <div class="ion-text-end">
        <ion-title>Menú de usuario</ion-title>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding ion-text-right"> 
    <h1 class="menu-h1">Grupos</h1>
    <ion-text color="medium">
      <h5 (click)="setOpen(true)">Registrarse a un grupo</h5>
    </ion-text>

    <h1>Tutorial</h1>
    <ion-text color="success">
      <h5>Consultar tutorial</h5>
    </ion-text>
    
    <h1>Sesión</h1>
    <ion-text color="danger">
      <h5 (click)="logOut()">Cerrar sesión</h5>
    </ion-text>
  </ion-content>
</ion-menu>

<!-- AGM 30/01/2024 - Contenido principal en el dashboard del alumno -->
<ion-content [fullscreen]="true">
  <div id="main-content4">

    <!-- AGM 19/02/2024 - Refrescar pagina -->
    <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh()">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <!-- AGM 30/01/2024 - Mensaje de bienvenida -->
    <b>
      <h1 class="welcome-message">
        ¡Bienvenido! <br>
        <ion-text color="primary">
          {{ username }}
        </ion-text>
      </h1>
    </b>

    <!-- AGM 30/01/2024 - Tarjeta de registro en grupo -->
    <ion-card class="fixed-margin">
      <ion-card-header>
        <ion-card-title>¡Registrate en un grupo!</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Si aún no sabes cómo registrarte a un grupo, puedes registrarte en un grupo mediante el botón de abajo.
        <br>
        <ion-button class="fixed-button" (click)="setOpen(true)">Registrarse a un grupo</ion-button>
      </ion-card-content>
    </ion-card>

    <!-- AGM 12/06/2024 - Barra de busqueda -->
    <ion-searchbar class="search-bar" placeholder="Buscar grupo por nombre" color="light" [debounce]="1000" (ionInput)="handleSearchInput($event)"></ion-searchbar>
    
    <!-- AGM 30/01/2024 - Mensaje de 'Mis grupos' -->
    <b><h3 class="groups-message">Mis grupos:</h3></b>

    <!-- Contenedor para las tarjetas de los grupos -->
    <div *ngIf="grupos && grupos.length; else noGroupsTemplate">
      <ion-card color="light" class="fixed-margin-card" *ngFor="let grupo of grupos">
        <div class="icon-container">
          <ion-icon name="people-outline" class="icon-size"></ion-icon>
        </div>
        
        <div class="text-container">
          <ion-card-header class="ion-text-center">
            <ion-text color="tertiary">
              <ion-card-title>{{ grupo.nombre }}</ion-card-title>
            </ion-text>
          </ion-card-header>
        
          <ion-card-content class="ion-text-center">
            Profesor: {{ grupo.nombre_maestro }}
          </ion-card-content>
        </div>
        
        <div class="icon-container-v2">
          <ion-icon name="chevron-forward-circle" class="icon-size-v2" color="success" (click)="goToGroup(grupo.id)"></ion-icon>
        </div>
      </ion-card>
    </div>

    <!-- Template para mostrar cuando no hay grupos asignados al alumno -->
    <ng-template #noGroupsTemplate>
      <ion-card color="light" class="fixed-margin-card">
        <ion-card-content class="ion-text-center">
          Grupos no encontrados.
        </ion-card-content>
      </ion-card>
    </ng-template>

    <!-- AGM 30/01/2024 - Modal de registro en un grupo -->
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>

        <!-- AGM 30/01/2024 - Header del modal -->
        <ion-header>
          <ion-toolbar>
            <ion-icon name="arrow-back-outline" class="icon-modal-left" (click)="setOpen(false)"></ion-icon>
          </ion-toolbar>
        </ion-header>

        <!-- AGM 30/01/2024 - Contenido principal del modal -->
        <ion-content class="ion-padding ion-text-center">
          <h1>Ingresa el código del grupo</h1>
    
          <ion-item class="separator">
            <ion-input [(ngModel)]="groupCode" label="Código de acceso al grupo:" labelPlacement="stacked" placeholder="Escribe aquí el código de acceso."></ion-input>
          </ion-item>
          <!-- Mensaje de error -->
          <div class="error-message-modal">
            <ion-text color="danger" *ngIf="errorMessage">{{ errorMessage }}</ion-text>
          </div>
          
          <ion-button class="btn-cancel" (click)="setOpen(false)" color="danger">Cancelar</ion-button>
          <ion-button class="btn-register" (click)="enrollStudentInGroup()" color="primary">Registrarse</ion-button>
        </ion-content>
      </ng-template>
    </ion-modal>

    <!-- AGM 30/01/2024 - Modal de vistas de los grupos del alumno -->
    <ion-modal [isOpen]="isFifthModalOpen">
      <ng-template>

        <!-- AGM 30/01/2024 - Header del modal -->
        <ion-header>
          <ion-toolbar>
            <ion-icon name="arrow-back-outline" class="icon-modal-left" (click)="setFifthOpen(false);"></ion-icon>
          </ion-toolbar>
        </ion-header>
        
        <!-- AGM 30/01/2024 - Contenido principal del modal -->
        <ion-content class="ion-padding ion-text-center">
          <h1 class="fixed-title-modal">Mis grupos:</h1>
          
          <!-- AGM 30/01/2024 - Cartas en el modal -->
          <div *ngIf="grupos && grupos.length; else noGroupsModalTemplate">
            <ion-card color="light" class="fixed-margin-card-modal" *ngFor="let grupo of grupos">
              <div class="icon-container">
                <ion-icon name="people-outline" class="icon-size"></ion-icon>
              </div>
              
              <div class="text-container">
                <ion-card-header class="ion-text-center">
                  <ion-text color="tertiary">
                    <ion-card-title>{{ grupo.nombre }}</ion-card-title>
                  </ion-text>
                  <ion-card-subtitle>Profesor: {{ grupo.nombre_maestro }}</ion-card-subtitle>
                </ion-card-header>
              </div>

              <div class="icon-container-v2">
                <ion-icon name="chevron-forward-outline" class="icon-size" (click)="setFifthOpen(false); goToGroup(grupo.id)"></ion-icon>
              </div>
            </ion-card>
          </div>
        </ion-content>

        <!-- Template para mostrar cuando no hay grupos asignados al alumno -->
        <ng-template #noGroupsModalTemplate>
          <ion-card color="light" class="fixed-margin-card-modal">
            <ion-card-content class="ion-text-center">
              No estás inscrito en ningún grupo todavía.
            </ion-card-content>
          </ion-card>
        </ng-template>

      </ng-template>
    </ion-modal>

  </div>
</ion-content>
