<ion-menu side="end" contentId="main-content2">
  <ion-content class="ion-padding ion-text-right"> 
    <h1>Grupos</h1>
    <h5 (click)="setOpen(true)">Registrarse a un grupo</h5>
    <h5 (click)="setFifthOpen(true)">Mis grupos</h5>

    <h1>Sesión</h1>
    <h5>Cerrar sesión</h5>
  </ion-content>
</ion-menu>

<ion-content [fullscreen]="true">
  <div id="main-content2">
    <b><h1 class="welcome-message">Bienvenido Carlos Daniel Medina Sahagún</h1></b>

    <ion-card class="fixed-margin">
      <ion-card-header>
        <ion-card-title>¡Registrate un grupo!</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Si aún no sabes cómo registrarte a un grupo, puedes registrarte en un grupo mediante el botón de abajo.
        <br>
        <ion-button class="fixed-button" (click)="setOpen(true)">Registrarse a un grupo</ion-button>
      </ion-card-content>
    </ion-card>

    <b><h3 class="groups-message">Mis grupos:</h3></b>

    <ion-card color="light" class="fixed-margin-card">
      <div class="icon-container">
        <ion-icon name="people-outline" class="icon-size"></ion-icon>
      </div>
      
      <div class="text-container">
        <ion-card-header class="ion-text-center">
          <ion-card-title>Grupo 4A</ion-card-title>
        </ion-card-header>
      
        <ion-card-content class="ion-text-center">
          Profesor: Diaz Raygoza
        </ion-card-content>
      </div>

      <div class="icon-container-v2">
        <ion-icon name="chevron-forward-outline" class="icon-size-v2" (click)="irGrupo()"></ion-icon>
      </div>
    </ion-card>

    <ion-card color="light" class="fixed-margin-card">
      <div class="icon-container">
        <ion-icon name="people-outline" class="icon-size"></ion-icon>
      </div>
      
      <div class="text-container">
        <ion-card-header class="ion-text-center">
          <ion-card-title>Grupo 4A</ion-card-title>
        </ion-card-header>
      
        <ion-card-content class="ion-text-center">
          Profesor: Diaz Raygoza
        </ion-card-content>
      </div>

      <div class="icon-container-v2">
        <ion-icon name="chevron-forward-outline" class="icon-size-v2" (click)="irGrupo()"></ion-icon>
      </div>
    </ion-card>

    <ion-card color="light" class="fixed-margin-card">
      <div class="icon-container">
        <ion-icon name="people-outline" class="icon-size"></ion-icon>
      </div>
      
      <div class="text-container">
        <ion-card-header class="ion-text-center">
          <ion-card-title>Grupo 4A</ion-card-title>
        </ion-card-header>
      
        <ion-card-content class="ion-text-center">
          Profesor: Diaz Raygoza
        </ion-card-content>
      </div>

      <div class="icon-container-v2">
        <ion-icon name="chevron-forward-outline" class="icon-size-v2" (click)="irGrupo()"></ion-icon>
      </div>
    </ion-card>

    <!-- Modal de registro en un grupo -->
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="setOpen(false)" color="danger">Cancelar</ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)" color="primary">Ingresar al grupo</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding ion-text-center">
          <h1>Ingresa el código del grupo</h1>

          <ion-item class="separator">
            <ion-input placeholder="  Código del grupo"></ion-input>
          </ion-item>

        </ion-content>
      </ng-template>
    </ion-modal>

    <!-- Modal de vistas de grupos -->
    <ion-modal [isOpen]="isFifthModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-icon name="arrow-back-outline" class="icon-modal-left" (click)="setFifthOpen(false)"></ion-icon>
          </ion-toolbar>
        </ion-header>
        
        <ion-content class="ion-padding ion-text-center">
          <h1 class="fixed-title-modal">Mis grupos:</h1>
          
          <ion-card color="light" class="fixed-margin-card-modal">
            <div class="icon-container">
              <ion-icon name="people-outline" class="icon-size"></ion-icon>
            </div>
            
            <div class="text-container">
              <ion-card-header class="ion-text-center">
                <ion-card-subtitle>Grupo de la aplicacion 1 a xd ed</ion-card-subtitle>
              </ion-card-header>
            </div>
          </ion-card>

          <ion-card color="light" class="fixed-margin-card-modal">
            <div class="icon-container">
              <ion-icon name="people-outline" class="icon-size"></ion-icon>
            </div>
            
            <div class="text-container">
              <ion-card-header class="ion-text-center">
                <ion-card-subtitle>Grupo</ion-card-subtitle>
              </ion-card-header>
            </div>
          </ion-card>

          <ion-card color="light" class="fixed-margin-card-modal">
            <div class="icon-container">
              <ion-icon name="people-outline" class="icon-size"></ion-icon>
            </div>
            
            <div class="text-container">
              <ion-card-header class="ion-text-center">
                <ion-card-subtitle>Grupo</ion-card-subtitle>
              </ion-card-header>
            </div>
          </ion-card>
        </ion-content>
      </ng-template>
    </ion-modal>

  </div>
</ion-content>
