<ion-content [fullscreen]="true">
  <div id="main-content">
    <b><h1 class="welcome-message">Bienvenido Carlos Daniel Medina Sahagún</h1></b>

    <ion-card class="fixed-margin">
      <ion-card-header>
        <ion-card-title>¡Registrate un grupo!</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Si aún no sabes cómo registrarte a un grupo, puedes registrarte en un grupo mediante el botón de abajo.
        <br>
        <ion-button class="fixed-button">Registrarse a un grupo</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-menu side="end" contentId="main-content">
      <ion-content class="ion-padding ion-text-right"> 

        <h1>Grupos</h1>
        <h5>Registrarse a un grupo</h5>
        <h5>Mis grupos</h5>

        <h1>Sesión</h1>
        <h5>Cerrar sesión</h5>
      </ion-content>
    </ion-menu>

    <b><h3 class="groups-message">Mis grupos:</h3></b>

    <ion-card color="tertiary" class="fixed-margin">
      <ion-card-header class="ion-text-center">
        <ion-card-title>Grupo 4A</ion-card-title>
      </ion-card-header>
    
      <ion-card-content class="ion-text-center">
        Profesor: Diaz Raygoza
      </ion-card-content>
    </ion-card>  

    <ion-card color="tertiary" class="fixed-margin">
      <ion-card-header class="ion-text-center">
        <ion-card-title>Grupo 4A</ion-card-title>
      </ion-card-header>
    
      <ion-card-content class="ion-text-center">
        Profesor: Diaz Raygoza
      </ion-card-content>
    </ion-card>  

    <ion-card color="tertiary" class="fixed-margin">
      <ion-card-header class="ion-text-center">
        <ion-card-title>Grupo 4A</ion-card-title>
      </ion-card-header>
    
      <ion-card-content class="ion-text-center">
        Profesor: Diaz Raygoza
      </ion-card-content>
    </ion-card>  

    <ion-card color="tertiary" class="fixed-margin">
      <ion-card-header class="ion-text-center">
        <ion-card-title>Grupo 4A</ion-card-title>
      </ion-card-header>
    
      <ion-card-content class="ion-text-center">
        Profesor: Diaz Raygoza
      </ion-card-content>
    </ion-card>  

    <ion-card color="tertiary" class="fixed-margin">
      <ion-card-header class="ion-text-center">
        <ion-card-title>Grupo 4A</ion-card-title>
      </ion-card-header>
    
      <ion-card-content class="ion-text-center">
        Profesor: Diaz Raygoza
      </ion-card-content>
    </ion-card>  

    <ion-card color="tertiary" class="fixed-margin">
      <ion-card-header class="ion-text-center">
        <ion-card-title>Grupo 4A</ion-card-title>
      </ion-card-header>
    
      <ion-card-content class="ion-text-center">
        Profesor: Diaz Raygoza
      </ion-card-content>
    </ion-card>  

    <ion-card color="tertiary" class="fixed-margin">
      <ion-card-header class="ion-text-center">
        <ion-card-title>Grupo 4A</ion-card-title>
      </ion-card-header>
    
      <ion-card-content class="ion-text-center">
        Profesor: Diaz Raygoza
      </ion-card-content>
    </ion-card>  

    <ion-card color="tertiary" class="fixed-margin">
      <ion-card-header class="ion-text-center">
        <ion-card-title>Grupo 4A</ion-card-title>
      </ion-card-header>
    
      <ion-card-content class="ion-text-center">
        Profesor: Diaz Raygoza
      </ion-card-content>
    </ion-card>  
  </div>
</ion-content>
