// AGM 27-01-24
.welcome-message {
    text-align: center; 
    margin-top: 10%; 
    margin-bottom: 20px;
}

.fixed-margin {
    margin-left: 5%;
    margin-right: 5%;
}

.fixed-button {
    margin-top: 5%;
}

.groups-message {
    text-align: center; 
    margin-top: 5%; 
    margin-bottom: 20px;
}

ion-item {
    margin-top: 30px;
}

ion-content h1:not(:first-child) {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 10px;
}