// AGM 30-01-24 
// Estilos del mensaje de bienvenida
.welcome-container {
    display: flex;
    align-items: center;
    justify-content: center; // Centra el contenido horizontalmente
    position: relative; // Posiciona relativamente para el botón absoluto
}

.welcome-message {
    font-size: 32px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    // margin-left: 40px;
}

.menu-button {
    margin-top: 20px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    margin-left: 30px;
    margin-right: 30px;
}

.welcome-container {
    // margin-left: 40px;
    margin-top: 15px;
}

ion-header {
    --background: transparent;
}
ion-toolbar {
    --background: transparent;
}
ion-content {
    --padding-top: none;
}
ion-refresher ion-refresher-content {
    margin-top: 60px; 
}

// Estilos para el margen fijo de las tarjetas
.fixed-margin {
    margin-left: 5%;
    margin-right: 5%;
}

// Estilos para el botón fijo en la tarjeta de registro
.fixed-button {
    margin-top: 5%;
    margin-right: 20px;
}

// Estilos para el mensaje 'Mis grupos'
.groups-message {
    text-align: center; 
    margin-top: 5%; 
    margin-bottom: 20px;
}

// Estilos para los items de ion (usado en modal de registro)
ion-item {
    margin-top: 30px;
}

.menu-h1 {
    margin-top: 5px;
}

// Estilos para los encabezados H1, excepto el primero
ion-content h1:not(:first-child) {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 20px;
}

// Estilos para las tarjetas de grupo con margen fijo
.fixed-margin-card {
    display: flex;
    align-items: center; 
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15px;
    border-radius: 8px;
    padding: 3px;
}

.grupo-card {
    .text-container {
        flex-grow: 1;
        overflow: hidden;
    }
  
    ion-card-title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
    }
  
    ion-card-content {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

// Contenedor de los iconos - Usado en toda la pagina en general
.icon-container {
    margin-left: 20px; 
    flex-grow: 0; 
    flex-shrink: 0;
}

// Tamaño de los iconos - Usado en toda la pagina en general
.icon-size {
    font-size: 40px; 
}

.icon-size-welcome-right-end {
    font-size: 40px;
    margin-right: 20px;
}

.icon-size-welcome-right {
    font-size: 40px;
    margin-right: 20px;
}

.icon-size-welcome-left {
    font-size: 40px;
    margin-left: 20px;
}

  
// Contenedor de texto - Usado en las tarjetas en general
.text-container {
    flex-grow: 1; 
    padding-left: 2px; 
}

// Variante del contenedor de íconos con margen derecho - Usado en las tarjetas en general
.icon-container-v2 {
    margin-right: 10px; 
    flex-grow: 0; 
    flex-shrink: 0; 
}

// Tamaño de ícono variante 2 - Usado en las tarjetas de la sección de grupos
.icon-size-v2 {
    font-size: 40px; 
}

// Margen para tarjetas dentro de modales - Usado en las tarjetas de los modals
.fixed-margin-card-modal {
    display: flex;
    align-items: center; 
}

// Ícono a la izquierda en modales - Usado para botones de retroceso en los modals
.icon-modal-left {
    font-size: 40px; 
    float: left; 
    margin-left: 10px; 
}

// Botón de cancelar con margen derecho - Usado en el modal de registro a grupo
.btn-cancel {
    margin-right: 10px; 
}

// Botón de registrar con margen izquierdo - Usado en el modal de registro a grupo
.btn-register {
    margin-left: 10px; 
}

// Separador entre input y botones - Usado en el modal de registro a grupo
.separator {
    margin-bottom: 20px;
}

// Barra de búsqueda en el dashboard
.search-bar {
    width: 93%; 
    max-width: 500px; 
    margin: 0 auto; 
    margin-top: 30px;
}  

// Mensaje de error en operaciones de registro
.error-message-modal {
    margin-bottom: 20px;
}