<ion-content [fullscreen]="true">
  <div class="screen-height">

  </div>

  <ion-avatar class="image-container">
    <img alt="Silhouette of a person's head" src="https://images.unsplash.com/photo-1529665253569-6d01c0eaf7b6?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cHJvZmlsZXxlbnwwfHwwfHx8MA%3D%3D"/>
  </ion-avatar>

  <div class="custom-div">
    <b><h1>Carlos Daniel Medina Sahagún aaaaaa <ion-icon name="pencil-sharp"></ion-icon></h1></b> 
    <h5>Contraseña: ******** <ion-icon name="pencil-sharp"></ion-icon></h5> 
    <h5>Fecha de registro: 14 de marzo del 2024</h5> 
  </div>
</ion-content>