<!-- AGM 25/01/2024 - Contenido principal de la página del perfil del maestro -->
<ion-content [fullscreen]="true">

  <!-- AGM 01/02/2024 - Separación de la página -->
  <div class="header-group">
    <!-- Volver a la pagina anterior --> 
    <ion-icon name="arrow-back-outline" class="icon-left-back" (click)="goBack()"></ion-icon>
  </div>

  <!-- AGM 25/01/2024 - Imagen de perfil del maestro -->
  <ion-avatar class="image-container">
    <img src="assets/app/teacher-login.png"/>
  </ion-avatar>

  <!-- AGM 25/01/2024 - Datos modificables del maestro -->
  <div class="custom-div">
    <h2>Nombre de usuario:</h2>
    <ion-text color="medium">
      <h5>
        {{ username }}
        <ion-icon name="pencil-sharp" color="warning" (click)="setOpen(true)"></ion-icon>
      </h5>
    </ion-text>
    <h2>Contraseña:</h2> 
    <ion-text color="medium">
      <h5>
        ********
        <ion-icon name="pencil-sharp" color="warning" (click)="setSecondOpen(true)"></ion-icon>
      </h5>
    </ion-text>
    <h2>Fecha de registro:</h2> 
    <h2>(Día-Mes-Año)</h2>
    <h5>
      <ion-text color="medium">
        <i>
          {{ creationDate }}
        </i>
      </ion-text>
    </h5>
  </div>

  <!-- AGM 30/01/2024 - Modal de edición de usuario (username) -->
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-icon name="arrow-back-outline" class="icon-modal-left" (click)="setOpen(false)"></ion-icon>
        </ion-toolbar>
      </ion-header>
  
      <ion-content class="ion-padding ion-text-center">
        <!-- Campo para nombre de usuario nuevo -->
        <ion-item>
          <ion-input [(ngModel)]="newUsername" labelPlacement="stacked" placeholder="Escribe aquí tu nuevo nombre de usuario.">
            <div slot="label">Nuevo nombre de usuario <ion-text color="danger">(Requerido)</ion-text></div>
          </ion-input>
        </ion-item>
  
        <!-- Campo para contraseña actual -->
        <ion-item>
          <ion-input [(ngModel)]="passwordActual" [type]="showPassword ? 'text' : 'password'" labelPlacement="stacked" placeholder="Escribe aquí tu contraseña actual.">
            <div slot="label">Contraseña Actual <ion-text color="danger">(Requerido)</ion-text></div>
          </ion-input>
          <ion-icon
              [name]="showPassword ? 'eye-off' : 'eye'"
              slot="end"
              (click)="togglePasswordVisibility()">
          </ion-icon>
        </ion-item>
  
        <!-- Mensaje de error, si aplica -->
        <div class="top-separator">
          <ion-text color="danger" *ngIf="errorMessage">{{ errorMessage }}</ion-text>
        </div>
  
        <!-- Botones para cancelar y guardar cambios -->
        <ion-button class="btn-cancel" (click)="setOpen(false)" color="danger">Cancelar</ion-button>
        <ion-button class="btn-register" (click)="presentConfirmEditUsername()" color="primary">Guardar cambios</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- AGM 30/01/2024 - Modal de edición de usuario (password) -->
  <ion-modal [isOpen]="isSecondModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-icon name="arrow-back-outline" class="icon-modal-left" (click)="setSecondOpen(false)"></ion-icon>
        </ion-toolbar>
      </ion-header>
  
      <ion-content class="ion-padding ion-text-center">
        <ion-item>
          <ion-input [(ngModel)]="passwordActual" [type]="showPassword2 ? 'text' : 'password'" labelPlacement="stacked" placeholder="Escribe aquí tu contraseña actual.">
            <div slot="label">Contraseña Actual <ion-text color="danger">(Requerido)</ion-text></div>
          </ion-input>
          <ion-icon
              [name]="showPassword2 ? 'eye-off' : 'eye'"
              slot="end"
              (click)="togglePasswordVisibility2()">
          </ion-icon>
        </ion-item>
  
        <ion-item>
          <ion-input [(ngModel)]="password" [type]="showPassword3 ? 'text' : 'password'" labelPlacement="stacked" placeholder="Escribe aquí tu nueva contraseña.">
            <div slot="label">Nueva Contraseña <ion-text color="danger">(Requerido)</ion-text></div>
          </ion-input>
          <ion-icon
              [name]="showPassword3 ? 'eye-off' : 'eye'"
              slot="end"
              (click)="togglePasswordVisibility3()">
          </ion-icon>
        </ion-item>
  
        <ion-item>
          <ion-input [(ngModel)]="confirmPassword" [type]="showPassword4 ? 'text' : 'password'" labelPlacement="stacked" placeholder="Escribe aquí de nuevo la nueva contraseña.">
            <div slot="label">Confirmar nueva contraseña <ion-text color="danger">(Requerido)</ion-text></div>
          </ion-input>
          <ion-icon
              [name]="showPassword4 ? 'eye-off' : 'eye'"
              slot="end"
              (click)="togglePasswordVisibility4()">
          </ion-icon>
        </ion-item>
        
        <div class="top-separator">
          <ion-text color="danger" *ngIf="errorMessage">{{ errorMessage }}</ion-text>
        </div>
        
        <ion-button class="btn-cancel" (click)="setSecondOpen(false)" color="danger">Cancelar</ion-button>
        <ion-button class="btn-register" (click)="presentConfirmEditPassword()" color="primary">Guardar cambios</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>