<!-- tutorial-alumno.component.html -->
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tutorial-alumno-dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <!-- Pantalla Principal -->
    <ion-item>
      <ion-text>
        <h2 class="title">Tutorial para Alumnos: Pantalla principal</h2>
        <p class="intro">¡Bienvenido a nuestra plataforma educativa! Como alumno, tendrás acceso a herramientas clave para navegar e inscribirte en los grupos:</p>
        <h3 class="section-title">Explora la pantalla principal</h3>
        <p>Cuando inicies sesión, llegarás a la pantalla principal. Aquí encontrarás varios elementos importantes:</p>
        <ol>
          <li><strong>Menú deslizante:</strong> Puedes deslizar el dedo de la parte derecha de la pantalla hacia la izquierda para desplegar el menú de acciones disponibles en la aplicación.</li>
          <li><strong>Búsqueda:</strong> Utiliza la función de búsqueda para encontrar grupos en los que te hayas inscrito. Ingresa el nombre del grupo o palabras clave relacionadas. Por ejemplo, busca “Grupo 1A”, “Grupo” o “Grupo 3C”.</li>
          <li><strong>Registro de grupos:</strong> Si aún no te has registrado en algún grupo, toca el botón azul "Registrarse en un grupo". Esto te permitirá unirte a un grupo disponible en el sistema por medio de un código de acceso.</li>
        </ol>
        <div class="image-container">
          <img src="assets/app/student-tutorial-dashboard/Dashboard.png">
        </div>
        <div class="image-container">
          <img src="assets/app/student-tutorial-dashboard/finger-to-left.png">
        </div>
        <div class="image-container">
          <img src="assets/app/student-tutorial-dashboard/menu-alumno-dashboard.png">
        </div>
      </ion-text>
    </ion-item>

    <!-- Registro en un Grupo -->
    <ion-item>
      <ion-text>
        <h2 class="title">1. Inscripción en grupos</h2>
        <p>Aquí aprenderás cómo inscribirte en un grupo de forma eficiente:</p>
        <div class="image-container">
          <img src="assets/app/student-tutorial-dashboard/registro-ubicacion.png">
        </div>
        <h3 class="section-title">Registrarse en un grupo</h3>
        <ol>
          <li><strong>Selecciona la opción:</strong> En la pantalla principal o en el menú, busca la opción para inscribirte en un grupo.</li>
          <li><strong>Ingresa el código del grupo:</strong> Escribe el código del grupo al que deseas unirte.</li>
          <p class="important">Importante:</p>
          <ul>
            <li>No puedes inscribirte en un grupo en el que ya estés registrado.</li>
            <li>Asegúrate de ingresar un código de acceso válido.</li>
          </ul>
          <li><strong>Confirmación:</strong> Si te has inscrito correctamente, recibirás una alerta con el nombre del grupo al que te uniste. Puedes buscar el grupo en el buscador para acceder a su tablero.</li>
        </ol>
        <div class="image-container">
          <img src="assets/app/student-tutorial-dashboard/registro-error.png">
        </div>
      </ion-text>
    </ion-item>

    <!-- Muestra y Búsqueda de Grupos -->
    <ion-item>
      <ion-text>
        <h2 class="title">2. Muestra y búsqueda de grupos</h2>
        <p>En esta sección aprenderás cómo identificar los grupos en los que te has inscrito y cómo buscar otros grupos en la plataforma:</p>
        <h3 class="section-title">Muestra de grupos</h3>
        <ol>
          <li><strong>Identifica la sección de grupos en la pantalla principal:</strong> Busca la sección de grupos en tu pantalla principal. Si ya te has inscrito en algún grupo, verás una lista de los grupos en los que estás registrado.</li>
          <li><strong>Acceso al tablero del grupo (Opcional):</strong> Si deseas acceder al tablero de un grupo específico, pincha el ícono verde de acceso junto al nombre del grupo.</li>
        </ol>
        <div class="image-container">
          <img src="assets/app/student-tutorial-dashboard/mostrar-grupos.png">
        </div>
        <h3 class="section-title">Búsqueda de Grupos</h3>
        <ol>
          <li><strong>Identifica la barra de búsqueda:</strong> En la pantalla principal, busca la barra de búsqueda de grupos.</li>
          <li><strong>Ingresa el Nombre del Grupo:</strong> Escribe el nombre del grupo que deseas encontrar. A medida que ingreses letras o palabras, se mostrarán los grupos que coincidan con tu búsqueda.</li>
        </ol>
        <div class="image-container">
          <img src="assets/app/student-tutorial-dashboard/buscar-grupos.png">
        </div>
      </ion-text>
    </ion-item>

    <!-- Consejos y Recomendaciones -->
    <ion-item class="margin-bottom">
      <ion-text>
        <h2 class="title">3. Consejos y recomendaciones</h2>
        <p>Antes de sumergirte en la aplicación, aquí tienes algunos consejos importantes:</p>
        <h3 class="section-title">Consulta el tutorial</h3>
        <ul>
          <li>Si tienes dudas sobre las acciones disponibles en la pantalla principal, no dudes en revisar de nuevo este tutorial. Aquí encontrarás detalles sobre lo que puedes hacer en la aplicación.</li>
        </ul>
        <div class="image-container">
          <img src="assets/app/student-tutorial-dashboard/tutorial.jpg" style="width: 90%;">
        </div>
        <h3 class="section-title">Conexión a internet</h3>
        <ul>
          <li>La aplicación requiere de conexión a internet. Asegúrate de tener siempre una conexión estable.</li>
          <li>Si experimentas problemas de conexión, reinicia la aplicación inmediatamente.</li>
        </ul>
        <div class="image-container">
          <img src="assets/app/student-tutorial-dashboard/Internet.jpg" style="width: 90%;">
        </div>
        <h3 class="section-title">Explora la Vista de Grupos</h3>
        <ul>
          <li>Consulta el tutorial específico sobre el tablero de grupo. Esto es especialmente útil si aún no estás familiarizado con su funcionamiento.</li>
        </ul>
        <div class="image-container">
          <img src="assets/app/student-tutorial-dashboard/groups.jpg" style="width: 90%;">
        </div>
        <!-- Imagen sugerida: Icono o ilustración representando la vista de grupos -->
      </ion-text>
    </ion-item>

    <!-- Botón para volver a la página principal -->
    <ion-item>
      <ion-button class="margin-auto" expand="full" (click)="goToDashboardAlumno()">Volver a la página principal</ion-button>
      <ion-button class="margin-auto" expand="full" color="tertiary" (click)="goToGroupsTutorial()">Ir al tutorial de grupos</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
