<!-- AGM 04-01-24 - Contenido principal del login -->
<ion-content [fullscreen]="true">

  <!-- AGM 04-01-24 - MOD: El logo de la imagen cambiarlo a uno propio -->
  <div class="image-container">
    <img src="assets/app/student-login.png" alt="Fondo de Login">
  </div>
  
  <!-- AGM 04-01-24 - Inputs del inicio de sesion del alumno -->
  <ion-list class="custom-list">
    <ion-input [(ngModel)]="username" label="Nombre de usuario" label-placement="floating" fill="outline" placeholder="Tu nombre de usuario"></ion-input>

    <ion-input [(ngModel)]="password" type="password" label="Contraseña" label-placement="floating" fill="outline" placeholder="Tu contraseña"></ion-input>
  </ion-list>

  <!-- Mensaje de error -->
  <div *ngIf="errorMessage" class="error-message ion-text-center">
    <ion-text color="danger">
      {{ errorMessage }}
    </ion-text>
  </div>

  <!-- AGM 04-01-24 - Botón de iniciar sesión -->
  <div class="button-container">
    <ion-button expand="block" shape="round" (click)="onLogin()">Iniciar sesión</ion-button>
  </div>

  <div class="button-container">
    <ion-button expand="block" shape="round" color="tertiary" (click)="goToStudentLogin()">
      Soy maestro
      <ion-icon name="log-in-outline" slot="end"></ion-icon>
    </ion-button>
  </div>
</ion-content>