<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tutorial-maestro-dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <!-- Introducción -->
    <ion-item>
      <ion-text>
        <h2 class="title">Tutorial para maestros: Pantalla principal</h2>
        <p class="intro">¡Bienvenido a nuestra plataforma educativa! En este tutorial, te mostraremos las acciones que puedes realizar dentro de la aplicación. Como maestro, tendrás acceso a herramientas clave para gestionar tus grupos, cuentas de alumnos y tu perfil.</p>
      </ion-text>
    </ion-item>

    <!-- Explora la Pantalla Principal -->
    <ion-item>
      <ion-text>
        <h3 class="section-title">1. Explora la pantalla principal</h3>
        <p>Cuando inicies sesión, llegarás a la pantalla principal. Aquí encontrarás varios elementos importantes:</p>
        <ul>
          <li><strong>Tus grupos:</strong> Verás una lista de los grupos que administras. Puedes acceder a cada grupo para obtener detalles específicos.</li>
          <li><strong>Búsqueda:</strong> Utiliza la barra de búsqueda para encontrar grupos rápidamente. Sólo ingresa el nombre del grupo.</li>
          <li><strong>Registro de grupos:</strong> Si aún no has registrado tus grupos, toca el botón correspondiente que se encuentra en la pantalla principal. Esto te permitirá agregar nuevos grupos a tu perfil.</li>
        </ul>
        <div class="image-container">
          <img src="assets/app/teacher-tutorial-dashboard/dashboard.png">
        </div>
      </ion-text>
    </ion-item>

    <!-- Menú de Acciones -->
    <ion-item>
      <ion-text>
        <h3 class="section-title">2. Menú de acciones</h3>
        <p>Para acceder a funciones adicionales, desliza el dedo hacia la izquierda. Aquí encontrarás:</p>
        <ul>
          <li><strong>Gestión de alumnos:</strong> Administra las cuentas de tus alumnos. Puedes agregar, editar, eliminar o dar de alta perfiles según sea necesario.</li>
          <li><strong>Configuración de grupo:</strong> Personaliza la configuración de cada grupo. Puedes modificar, eliminar o acceder al grupo.</li>
          <li><strong>Perfil personal:</strong> Puedes solamente modificar tus credenciales en esta parte.</li>
        </ul>
        <div class="image-container">
          <img src="assets/app/teacher-tutorial-dashboard/dashboard-menu.png">
        </div>
      </ion-text>
    </ion-item>

    <!-- Registro de Grupos -->
    <ion-item>
      <ion-text>
        <h3 class="section-title">3. Registro de grupos</h3>
        <p>Si no has registrado tus grupos, sigue estos pasos:</p>
        <ol>
          <li>Toca el botón de registro.</li>
          <li>Completa los detalles del grupo: nombre y descripción.</li>
          <li>¡Listo! El grupo ahora aparecerá en tu lista de grupos de la pantalla principal.</li>
        </ol>
        <div class="image-container">
          <img src="assets/app/teacher-tutorial-dashboard/register-group.png">
        </div>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-text>
        <h3 class="section-title">4. Recomendaciones a la hora de registrar un grupo</h3>
        <p>Como maestro, puedes crear grupos para inscribir a tus alumnos. Pero ten en cuenta los siguientes aspectos:</p>
        <ul>
          <li><strong>Nombre del Grupo:</strong> Asigna un nombre significativo al grupo. Asegúrate de que sea único y descriptivo.</li>
          <li><strong>Descripción (opcional):</strong> Si deseas, puedes agregar una breve descripción del grupo.</li>
          <li><strong>Registro del Grupo:</strong> Tienes dos opciones: Botón de acción rápida o menú deslizante.</li>
          <li><strong>Validación:</strong> El sistema verificará si ya existen grupos con el mismo nombre. En dado caso que se dé dicha situación, el sistema arrojará un error.</li>
          <li><strong>Conexión a internet:</strong> Si aparece algún error relacionado con la conexión a internet, reinicia inmediatamente la aplicación.</li>
        </ul>
        <div class="image-container">
          <img src="assets/app/teacher-tutorial-dashboard/register-group-error.png">
        </div>
      </ion-text>
    </ion-item>

    <!-- Administración de Grupos -->
    <ion-item>
      <ion-text>
        <h3 class="section-title">5. Administración de grupos</h3>
        <p>¡Bienvenido a la sección de administración de grupos! Aquí aprenderás cómo gestionar tus grupos de manera eficiente.</p>
        <div class="image-container">
          <img src="assets/app/teacher-tutorial-dashboard/group-adm.png">
        </div>
        <h4 class="subsection-title">5.1. Editar información del grupo</h4>
        <ol>
          <li>Accede al menú "Administrar grupos".</li>
          <li>Verás una lista de los grupos que has creado.</li>
          <li>Selecciona el grupo que deseas editar.</li>
          <li>Modifica el nombre y la descripción (si es necesario).</li>
        </ol>
        <div class="image-container">
          <img src="assets/app/teacher-tutorial-dashboard/editing-group.png">
        </div>
        <p class="important">Importante:</p>
        <ul>
          <li>El nombre del grupo no puede estar vacío. Si no ingresas un nombre, el sistema mostrará un error.</li>
          <li>El nombre del grupo no puede coincidir con uno ya existente, en caso de que el sistema lo detecte, se te notificará en pantalla.</li>
        </ul>
        <div class="image-container">
          <img src="assets/app/teacher-tutorial-dashboard/editing-group-error.png">
        </div>
        <h4 class="subsection-title">5.2. Eliminar grupos</h4>
        <ol>
          <li>Desde la misma vista, selecciona el icono de eliminación junto al grupo que deseas borrar.</li>
          <li>Antes de confirmar, consulta la información completa del grupo y los alumnos que forman parte de él.</li>
        </ol>
        <p class="caution">Cuidado:</p>
        <ul>
          <li>Una vez confirmada la eliminación, no podrás recuperar el grupo. Así que asegurate de no tomar la decisión equivocada.</li>
        </ul>
        <div class="image-container">
          <img src="assets/app/teacher-tutorial-dashboard/deleting-group.png">
        </div>
      </ion-text>
    </ion-item>

    <!-- Registro de Alumnos -->
    <ion-item>
      <ion-text>
        <h3 class="section-title">6. Registro de alumnos</h3>
        <p>¡Bienvenido a la sección de registro de alumnos!</p>
        <p>Aquí aprenderás cómo inscribir a tus estudiantes de una manera eficiente.</p>
        <h4 class="subsection-title">6.1. Registro individual</h4>
        <ol>
          <li>Selecciona la opción correspondiente en el menú.</li>
          <li>Ingresa un nombre de usuario único para el alumno.</li>
          <li>Define una contraseña segura.</li>
          <li>Selecciona la opción de "Registrar alumno".</li>
          <li>En caso de error, se te notificará en pantalla.</li>
        </ol>
        <p class="important">Importante tener en cuenta lo siguiente:</p>
        <ul>
          <li>El nombre de usuario no puede estar vacío.</li>
          <li>El nombre de usuario no puede estar repetido.</li>
          <li>La contraseña debe tener al menos 8 caracteres y contener al menos 1 letra mayúscula y 1 símbolo.</li>
        </ul>
        <div class="image-container">
          <img src="assets/app/teacher-tutorial-dashboard/student-register.png">
        </div>
        <div class="image-container">
          <img src="assets/app/teacher-tutorial-dashboard/student-register2.png">
        </div>
        <!-- Imagen sugerida: Captura del formulario de registro individual de alumnos -->
        <h4 class="subsection-title">6.2. Registro múltiple de alumnos</h4>
        <p>Puedes registrar varios alumnos a la vez mediante un archivo de texto (.txt). La estructura del archivo debe ser la siguiente:</p>
        <div class="scrollable-pre">
          <pre>
  Carlos Medina Sahagún, Agua332828.
  Alejandro Ramírez Montaño, Alumno12345.
  Alejandro Raygoza Hernández, Montaña#77889.
          </pre>
        </div>
        <div class="image-container">
          <img src="assets/app/teacher-tutorial-dashboard/multiple-student-register.png">
        </div>
        <div class="image-container">
          <img src="assets/app/teacher-tutorial-dashboard/multiple-student-register-example.png">
        </div>
        <div class="image-container">
          <img src="assets/app/teacher-tutorial-dashboard/multiple-student-register-result.png">
        </div>
      </ion-text>
    </ion-item>

    <!-- Administración de Alumnos -->
    <ion-item>
      <ion-text>
        <h3 class="section-title">7. Administración de alumnos</h3>
        <p>¡Bienvenido a la sección de administración de alumnos! Aquí aprenderás cómo gestionar las credenciales de tus estudiantes de manera eficiente.</p>
        <div class="image-container">
          <img src="assets/app/teacher-tutorial-dashboard/students-adm.png">
        </div>
        <h4 class="subsection-title">7.1. Editar credenciales de alumnos</h4>
        <p>Para editar la información de usuario, ten en cuenta lo siguiente:</p>
        <ul>
          <li><strong>Nombre de Usuario:</strong> No puede estar vacío. Evita nombres repetidos.</li>
          <li><strong>Contraseña:</strong> Debe contener al menos 8 caracteres, 1 letra mayúscula y 1 símbolo.</li>
        </ul>
        <div class="image-container">
          <img src="assets/app/teacher-tutorial-dashboard/students-adm-edit.png">
        </div>
        <h4 class="important">Importante notificar al alumno</h4>
        <p>Una vez realizados los cambios, notifica al alumno sobre la modificación de sus credenciales de usuario.</p>
        <!-- Imagen sugerida: Ejemplo de notificación al alumno -->
        <h4 class="subsection-title">7.2. Dar de baja a alumno</h4>
        <p>Para dar de baja a un alumno en la plataforma, basta con seleccionar la opción del ícono rojo:</p>
        <div class="image-container">
          <img src="assets/app/teacher-tutorial-dashboard/students-adm-delete.png">
        </div>
        <h4 class="subsection-title">7.3. Dar de alta a alumno</h4>
        <p>Para dar de alta a un alumno que hayas dado de baja con anterioridad, basta con seleccionar la opción del ícono azul:</p>
        <div class="image-container">
          <img src="assets/app/teacher-tutorial-dashboard/students-adm-up.png">
        </div>
        <div class="image-container">
          <img src="assets/app/teacher-tutorial-dashboard/students-adm-up-confirm.png">
        </div>
      </ion-text>
    </ion-item>

    <!-- Configuración de Perfil -->
    <ion-item>
      <ion-text>
        <h3 class="section-title">8. Configuración de perfil</h3>
        <div class="image-container">
          <img src="assets/app/teacher-tutorial-dashboard/profile.png">
        </div>
        <p>Vamos a explorar la sección de perfil. Aquí podrás modificar tus credenciales de manera segura. Sigue estos pasos:</p>
        <h4 class="subsection-title">8.1. Cambiar nombre de usuario</h4>
        <p>Haz clic en la opción "Perfil" en el menú de usuario. Verás un campo para editar tu nombre de usuario.</p>
        <p class="important">Importante:</p>
        <ul>
          <li>Tu nombre no debe estar vacío ni ser utilizado por otro maestro.</li>
        </ul>
        <div class="image-container">
          <img src="assets/app/teacher-tutorial-dashboard/profile-edit-username.png">
        </div>
        <h4 class="subsection-title">8.2. Cambiar contraseña</h4>
        <p>En la misma sección de perfil, encontrarás la opción para cambiar tu contraseña.</p>
        <ul>
          <li>Debe contener al menos 8 caracteres.</li>
          <li>Al menos 1 letra mayúscula y 1 símbolo.</li>
        </ul>
        <div class="image-container">
          <img src="assets/app/teacher-tutorial-dashboard/profile-edit-password.png">
        </div>
        <h4 class="subsection-title">8.3. Guarda los cambios</h4>
        <p>Una vez modificadas tus credenciales, se te redirigirá al inicio de sesión.</p>
        <p class="important">Importante:</p>
        <ul>
          <li>En caso de haber un error, se te notificará en pantalla de dicho error.</li>
        </ul>
      </ion-text>
    </ion-item>

    <!-- Consejos Finales -->
    <ion-item>
      <ion-text>
        <h3 class="section-title">9. Recomendaciones finales</h3>
        <ul>
          <li><strong>Consulta el tutorial:</strong> Si tienes dudas sobre las acciones disponibles en la pantalla principal, no dudes en revisar de nuevo el tutorial.</li>
          <div class="image-container">
            <img src="assets/app/student-tutorial-dashboard/tutorial.jpg">
          </div>
          <li><strong>Conexión a internet:</strong> La aplicación se conecta al servidor a través de internet. Asegúrate de tener una conexión estable.</li>
          <div class="image-container">
            <img src="assets/app/student-tutorial-dashboard/Internet.jpg">
          </div>
          <li><strong>Explora la vista de grupos:</strong> Consulta el tutorial específico sobre la vista de grupos.</li>
          <div class="image-container">
            <img src="assets/app/student-tutorial-dashboard/groups.jpg">
          </div>
        </ul>
      </ion-text>
    </ion-item>

    <!-- Botón para volver a la página principal -->
    <ion-item>
      <ion-button class="margin-auto" color="secondary" (click)="goToDashboardMaestro()">Volver a la pantalla principal</ion-button>
      <ion-button class="margin-auto" color="tertiary" (click)="goToGroupsTutorial()">Ir al tutorial de grupos</ion-button>
    </ion-item>
  </ion-list> 
</ion-content>