// AGM 31/01/2024

// Header del grupo
// Header ajustado en la parte superior de la pantalla
.header-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px; 
    margin-top: 20px; 
}

// Mensaje de bienvenida - Centrado en el grupo de cabecera
.welcome-message {
    margin: 0; 
    text-align: center; 
}

.teacher-main-text {
    font-size: 28px;
    margin-bottom: 20px;
}

.student-main-text {
    font-size: 28px;
}

// Ícono a la izquierda - Alineado a la izquierda en el grupo de cabecera
.icon-left-back {
    font-size: 40px;
}

// Ícono a la derecha - Alineado a la derecha en el grupo de cabecera
.icon-right-camera {
    font-size: 40px;
}

// Usado en el menú deslizante
// Configuracion especifica del primer h1 en el menu
.menu-h1 {
    margin-top: 5px;
}

// Estilos para títulos secundarios - Aplicados a los títulos dentro de ion-content
ion-content h1:not(:first-child) {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 20px;
}

// Sección de fotografías del profesor y alumno
// Margen fijo para tarjetas - Usado en las tarjetas de la sección de fotografías del profesor
.fixed-margin-card-teacher {
    display: flex;
    align-items: center; 
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px;
}

.fixed-margin-card-student {
    display: flex;
    align-items: center; 
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    padding: 5px;
}

// Contenedor de íconos con margen izquierdo - Usado en las tarjetas de alumnos y el profesor
.icon-container {
    margin-left: 10px;
    flex-grow: 0;
    flex-shrink: 0; 
}

// Variante del contenedor de íconos con margen derecho - Usado en las tarjetas de grupos y alumnos
.icon-container-v2 {
    margin-right: 10px; 
    flex-grow: 0; 
    flex-shrink: 0; 
}

// Contenedor de texto flexible - Usado en las tarjetas de grupos y alumnos
.text-container {
    flex-grow: 1; 
}


// Tamaño de ícono variante 2 - Usado en las tarjetas de la sección de grupos
.icon-size {
    font-size: 40px; 
}

// Tamaño de ícono variante 2 - Usado en las tarjetas de la sección de grupos
.icon-size-v2 {
    font-size: 30px; 
}

// Sección de los modals
// Ícono a la izquierda en modales - Usado para botones de retroceso en los modales
.icon-modal-left {
    font-size: 40px; 
    float: left; 
    margin-left: 10px; 
}

// Estilización de los ítems de Ionic - Usado en los inputs de los modals
ion-item {
    margin-top: 20px;
    margin-bottom: 20px;
}

// Titulo dentro del modal
ion-title {
    margin-top: 10px;
}

// Margen para tarjetas dentro de modales - Usado en las tarjetas de los modales de alumnos registrados
.fixed-margin-card-modal {
    display: flex;
    align-items: center; 
    padding: 5px;
    margin-bottom: 20px;
}
 
.search-bar {
    width: 93%; 
    max-width: 500px; 
    margin: 0 auto; 
    margin-top: 30px;
}  

.search-bar-modal {
    width: 93%; 
    max-width: 500px; 
    margin: 0 auto; 
}