// AGM 04-01-24
.image-container {
  text-align: center; 
  margin-top: 25%; 
  margin-bottom: 20px;

  img {
    width: 50%; 
    height: auto; 
    display: inline-block; 
    object-fit: contain; 
  }
}

// AGM 04-01-24
.custom-list {
  width: 75%;
  margin: 0 auto; 
  background: #121212; 
  ion-input {
    margin-bottom: 10px; 
    --background: #FFF;
    color: #000;
  }
}

// AGM 04-01-24
.button-container {
  display: flex;
  justify-content: center; 
  margin-top: 10px; 
}

// AGM 04-01-24
.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;

  .line {
    background-color: currentColor; 
    height: 1px;
    flex: 1;
    margin: 0 8px;
  }

  .separator-icon {
    font-size: 14px; 
  }
}

// AGM 04-01-24
.google-button {
  display: flex;
  justify-content: center; 
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 5%;
  margin-left: 5%;
  color: white; 
  font-size: 11px;

  ion-icon {
    margin-right: 8px;
  }
}

// AGM 04-01-24
.register-link {
  text-align: center;
  margin-top: 15px;
  a {
    color: var(--ion-color-primary); 
    text-decoration: none;
  }
}