<!-- AGM 04-01-24 - Contenido principal del login -->
<ion-content [fullscreen]="true">

  <!-- AGM 04-01-24 - MOD: El logo de la imagen cambiarlo a uno propio -->
  <div class="image-container">
    <img src="assets/app/teacher-login.png" alt="Fondo de Login">
  </div>
  
  <!-- AGM 04-01-24 - Inputs del inicio de sesion del maestro -->
  <div class="login-container">
    <ion-item>
      <ion-input [(ngModel)]="username" label="Nombre de usuario:" labelPlacement="stacked" placeholder="Escribe aquí tu nombre de usuario."></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input [(ngModel)]="password" [type]="showPassword ? 'text' : 'password'" label="Contraseña:" labelPlacement="stacked" placeholder="Escribe aquí tu contraseña."></ion-input>
      <ion-icon
        [name]="showPassword ? 'eye-off' : 'eye'"
        slot="end"
        (click)="togglePasswordVisibility()">
      </ion-icon>
    </ion-item>
  </div>

  <!-- Mensaje de error -->
  <div *ngIf="errorMessage" class="error-message ion-text-center">
    <ion-text color="danger">
      {{ errorMessage }}
    </ion-text>
  </div>

  <!-- AGM 04-01-24 - Botón de iniciar sesión -->
  <div class="button-container">
    <ion-button expand="block" shape="round" (click)="onLogin()">Iniciar sesión</ion-button>
  </div>

  <div class="button-container">
    <ion-button expand="block" shape="round" color="success" (click)="goToStudentLogin()">
      Soy estudiante
      <ion-icon name="log-in-outline" slot="end"></ion-icon>
    </ion-button>
  </div>

  <!--
  <ion-loading trigger="open-loading" message="Dismissing after 3 seconds..." duration="3000"></ion-loading>
  <ion-button (click)="showLoading()">Show Loading</ion-button>

  <ion-button (click)="presentAlert()">Click Me</ion-button>
  <ion-alert
    trigger="present-alert"
    header="A Short Title Is Best"
    subHeader="A Sub Header Is Optional"
    message="A message should be a short, complete sentence."
    [buttons]="alertButtons"
  ></ion-alert>
  -->
</ion-content>