<!-- AGM 04-01-24 -->
<ion-content [fullscreen]="true">

  <!-- MOD: El logo de la imagen cambiarlo a uno propio -->
  <div class="image-container">
    <img src="assets/app/home logo.png" alt="Fondo de Login">
  </div>
  
  <ion-list class="custom-list">
    <ion-input label="Nombre de usuario" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>

    <ion-input label="Contraseña" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
  </ion-list>

  <!-- Botón de iniciar sesión -->
  <div class="button-container">
    <ion-button expand="block" shape="round" (click)="onLogin()">Iniciar sesión</ion-button>
  </div>
</ion-content>
