<!-- tutorial-grupos.component.html -->
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tutorial-maestro-grupos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <!-- Explora el Tablero de Grupo -->
    <ion-item>
      <ion-text>
        <h2 class="title">Tutorial para maestros: Tablero del grupo</h2>
        <p class="intro">¡Bienvenido a la sección de grupos en nuestra aplicación móvil! Como maestro, tendrás acceso a la vista de tus grupos, la administración de los mismos y el control de los alumnos dentro de cada grupo.</p>
        <div class="image-container">
          <img src="assets/app/teacher-tutorial-groups/panel.png">
        </div>
        <h3 class="section-title">Explora el tablero del grupo</h3>
        <p>Cuando quieras acceder al tablero de un grupo específico, simplemente pulsa el botón verde que se muestra a continuación.</p>
        <div class="image-container">
          <img src="assets/app/student-tutorial-dashboard/mostrar-grupos.png">
        </div>
        <p>Dentro del tablero del grupo, encontrarás los siguientes elementos clave:</p>
        <ul>
          <li><strong>Toma de fotografía:</strong> Utiliza esta función para capturar imágenes de objetos relevantes, especialmente aquellos que se encuentren en casa.</li>
          <li><strong>Tus imágenes:</strong> Aquí podrás consultar las imágenes que has tomado en el grupo.</li>
          <li><strong>Imágenes de alumnos:</strong> También puedes revisar las imágenes tomadas por los alumnos en el grupo.</li>
          <li><strong>Búsqueda rápida:</strong> Utiliza la función de búsqueda para encontrar alumnos específicos dentro del grupo.</li>
          <li><strong>Menú de acciones:</strong> En el menú lateral, encontrarás una variedad de acciones específicas que puedes aplicar dentro de tu grupo.</li>
        </ul>
        <div class="image-container">
          <img src="assets/app/teacher-tutorial-groups/panel.png">
        </div>
        <div class="image-container">
          <img src="assets/app/student-tutorial-dashboard/finger-to-left.png">
        </div>
        <div class="image-container">
          <img src="assets/app/teacher-tutorial-groups/panel-menu.png">
        </div>
      </ion-text>
    </ion-item>

    <!-- Toma de Fotografías -->
    <ion-item>
      <ion-text>
        <h2 class="title">1. Toma de fotografías</h2>
        <p>Como maestro, podrás capturar imágenes relevantes para el proceso de enseñanza de prevención de accidentes. Aquí tienes algunas recomendaciones importantes:</p>
        <h3 class="section-title">1.1. Toma de fotografía</h3>
        <p>Puedes tomar una fotografía tocando el icono de la cámara o seleccionando la opción “Tomar fotografía” en el menú lateral.</p>
        <div class="image-container">
          <img src="assets/app/student-tutorial-groups/group-view-photo.png">
        </div>
        <p class="important">Ten en cuenta lo siguiente antes de tomar una fotografía:</p>
        <ul>
          <li><strong>Objeto único:</strong> Captura en la fotografía un solo objeto. Evita que aparezcan varios objetos alrededor.</li>
          <li><strong>Fondo iluminado:</strong> Apóyate un fondo claro o iluminado para mejorar la calidad de la imagen.</li>
          <li><strong>Forma del objeto:</strong> Prioriza tomar la fotografía desde un ángulo que resalte la forma del objeto.</li>
        </ul>
        <div class="image-container">
          <img src="assets/app/student-tutorial-groups/bien.png">
        </div>
        <div class="image-container">
          <img src="assets/app/student-tutorial-groups/boligrafo-correcto.jpg">
        </div>
        <div class="image-container">
          <img src="assets/app/student-tutorial-groups/mal.png">
        </div>
        <div class="image-container">
          <img src="assets/app/student-tutorial-groups/boligrafo-incorrecto.jpg">
        </div>
        <h3 class="section-title">1.2. Identificación correcta</h3>
        <p>Después de tomar la foto, el sistema intentará identificar el objeto.</p>
        <div class="image-container">
          <img src="assets/app/teacher-tutorial-groups/authorize-image.png">
        </div>
        <ul>
          <li>Si la identificación no es correcta, deberás asignar el nombre correcto al objeto utilizando la lista proporcionada por el sistema.</li>
        </ul>
        <h3 class="section-title">1.3. Publicación en el tablero</h3>
        <p>Una vez confirmada la identificación del objeto, la imagen se publicará automáticamente en el tablero del grupo.</p>
        <ul>
          <li>Ten en cuenta que los alumnos dentro del grupo podrán ver la información de la imagen.</li>
          <li>Sé objetivo al tomar la foto para garantizar la precisión y la calidad de la enseñanza.</li>
        </ul>
      </ion-text>
    </ion-item>

    <!-- Fotografías del Maestro y Alumno -->
    <ion-item>
      <ion-text>
        <h2 class="title">2. Fotografías del maestro y alumno</h2>
        <p>Vamos a explorar la sección de fotografías en nuestra aplicación movil. Como maestro, puedes consultar las imágenes que has subido, y los alumnos también pueden verlas en su tablero. Aquí tienes algunos detalles importantes:</p>
        <h3 class="section-title">2.1. Tipos de fotografías</h3>
        <ul>
          <li><strong>Autorizadas:</strong> Estas imágenes están listas para su visualización. Contienen solamente un botón de color rojo que permite eliminar la imagen.</li>
          <li><strong>No Autorizadas:</strong> Estas imágenes no las pueden ver los alumnos en el tablero, pero tu sí podras verla. Al hacer clic en el botón verde, autorizarás la imagen para que los alumnos puedan verla. Además, las imágenes no autorizadas tendrán un botón de color rojo para eliminarlas si es necesario.</li>
        </ul>
        <div class="image-container">
          <img src="assets/app/teacher-tutorial-groups/images-from-student-2.png">
        </div>
        <!-- Imagen sugerida: Captura de pantalla mostrando las diferencias entre imágenes autorizadas y no autorizadas -->
        <h3 class="section-title">2.2. Detalles de las imágenes</h3>
        <p>Al hacer clic en una imagen, podrás visualizar sus detalles:</p>
        <ul>
          <li>Objeto identificado en la imagen.</li>
          <li>Descripcion del nivel de incidencia del objeto en accidentes.</li>
          <li>Nivel de incidencia en accidentes.</li>
        </ul>
        <div class="image-container">
          <img src="assets/app/teacher-tutorial-groups/image-details.png">
        </div>
      </ion-text>
    </ion-item>

    <!-- Administración de Grupos -->
    <ion-item>
      <ion-text>
        <h2 class="title">3. Administración de Grupos</h2>
        <p>Vamos a explorar la sección de administración del grupo. Como maestro, tendrás el control total sobre tus grupos. Aquí tienes los puntos clave:</p>
        <h3 class="section-title">3.1. Editar información del grupo</h3>
        <ol>
          <li>Accede al “Menú de grupo”.</li>
          <li>Selecciona la opción “Modificar propiedades del grupo”.</li>
          <li>Modifica el nombre y la descripción (si es necesario).</li>
        </ol>
        <p class="important">Importante:</p>
        <ul>
          <li>El nombre del grupo no puede estar vacío ni repetido (usado por otro maestro). Si intentas hacerlo, el sistema mostrará un error.</li>
        </ul>
        <div class="image-container">
          <img src="assets/app/teacher-tutorial-groups/editing-group.png">
        </div>
        <h3 class="section-title">3.2. Eliminar grupo</h3>
        <ol>
          <li>Desde la misma vista, selecciona la opción “Eliminar grupo”.</li>
          <li>Antes de confirmar, consulta toda la información relevante del grupo y los alumnos que forman parte de él.</li>
        </ol>
        <p class="caution">Cuidado:</p>
        <ul>
          <li>Una vez confirmada la eliminación, no podrás recuperar el grupo.</li>
          <li>Todo lo que se ha hecho en el grupo se perderá.</li>
        </ul>
        <div class="image-container">
          <img src="assets/app/teacher-tutorial-groups/deleting-group.png">
        </div>
      </ion-text>
    </ion-item>

    <!-- Administración de Alumnos -->
    <ion-item>
      <ion-text>
        <h2 class="title">4. Administración de alumnos en el grupo</h2>
        <p>Vamos a explorar la sección de administración de alumnos dentro del grupo. Como maestro, tendrás la capacidad de ver la información de los alumnos y, si es necesario, expulsarlos. Aquí tienes los pasos detallados:</p>
        <h3 class="section-title">4.1. Ver o expulsar alumno inscrito en el grupo</h3>
        <div class="image-container">
          <img src="assets/app/teacher-tutorial-groups/student-adm.png">
        </div>
        <ol>
          <li>Accede al “Menú de grupo”.</li>
          <li>Selecciona la opción “Administrar alumnos registrados en el grupo”.</li>
          <li>Busca el nombre del alumno (si es necesario).</li>
          <li class="optional">Opcional: Si deseas expulsar a un alumno, pincha el icono rojo junto a su nombre.</li>
        </ol>
        <p class="important">Importante:</p>
        <ul>
          <li>El sistema te preguntará si realmente deseas expulsar al alumno del grupo.</li>
        </ul>
        <div class="image-container">
          <img src="assets/app/teacher-tutorial-groups/deleting-student.png">
        </div>
      </ion-text>
    </ion-item>

    <!-- Consejos y Recomendaciones -->
    <ion-item class="margin-bottom">
      <ion-text>
        <h2 class="title">5. Consejos y recomendaciones</h2>
        <p>Antes de sumergirte en la aplicación, aquí tienes algunos consejos importantes:</p>
        <h3 class="section-title">5.1. Consulta el tutorial</h3>
        <ul>
          <li>Si tienes dudas sobre las acciones disponibles en el tablero de grupo, no dudes en revisar de nuevo este tutorial. Aquí encontrarás detalles sobre lo que puedes hacer y las limitaciones que conlleva cada acción.</li>
        </ul>
        <div class="image-container">
          <img src="assets/app/student-tutorial-dashboard/tutorial.jpg" style="width: 90%;">
        </div>
        <h3 class="section-title">5.2. Conexión a internet</h3>
        <ul>
          <li>La aplicación se conecta al servidor a través de internet. Asegúrate de tener una conexión estable.</li>
          <li>Si experimentas problemas de conexión, reinicia la aplicación para evitar errores.</li>
        </ul>
        <div class="image-container">
          <img src="assets/app/student-tutorial-dashboard/Internet.jpg" style="width: 90%;">
        </div>
      </ion-text>
    </ion-item>

    <!-- Botón para volver a la página principal -->
    <ion-item>
      <ion-button class="margin-auto" expand="full" (click)="goToDashboardMaestro()">Volver a la página principal</ion-button>
      <ion-button class="margin-auto" color="tertiary" (click)="goToDashboardTutorial()">Ir al tutorial principal</ion-button>
    </ion-item>
  </ion-list>
</ion-content>