<!-- Menú deslizante del maestro --> 
<ion-menu side="end" contentId="main-content2">
  <ion-header>
    <ion-avatar class="avatar-right">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
  </ion-header>
  <ion-content class="ion-padding ion-text-right"> 
    <h1>Usuario</h1>
    <h5>Visualizar o ver perfil</h5>
    <h5>Cerrar sesión</h5>

    <h1>Grupos</h1>
    <h5>Ver o gestionar mis grupos</h5>
    <h5>Registrar un grupo</h5>

    <h1>Alumnos</h1>
    <h5 (click)="setSecondOpen(true)">Registrar un alumno</h5>
    <h5 (click)="setThirdOpen(true)">Registrar varios alumnos</h5>
    <h5>Alumnos registrados por mí</h5>

    <h1>Ayuda</h1>
    <h5>Preguntas frecuentes</h5>
    <h5>Reportes o sugerencias</h5>
  </ion-content>
</ion-menu>

<!-- Contenido principal --> 
<ion-content [fullscreen]="true">
  <div id="main-content2">
    <!-- Mensaje de bienvenida al maestro --> 
    <b><h1 class="welcome-message">Bienvenido Carlos Daniel Medina Sahagún</h1></b>

    <!-- Recuadro de inscripcion al grupo --> 
    <ion-card class="fixed-margin">
      <ion-card-header>
        <ion-card-title>¡Registra un grupo!</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Si aún no sabes cómo registrar un grupo, puedes pulsar el botón de abajo.
        <br>
        <ion-button class="fixed-button" (click)="setOpen(true)">Registrar a un grupo</ion-button>
      </ion-card-content>
    </ion-card>

    <!-- Modal para registrar un grupo -->
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-icon name="arrow-back-outline" class="icon-modal-left" (click)="setOpen(false)"></ion-icon>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding ion-text-center">
          <h1>Registro de un grupo</h1>

          <ion-item class="separator">
            <ion-input placeholder="  Nombre del grupo"></ion-input>
          </ion-item>

          <ion-item>
            <ion-textarea placeholder="  Descripción del grupo"></ion-textarea>
          </ion-item>

          <ion-button class="btn-cancelar" (click)="setOpen(false)" color="danger">Cancelar</ion-button>
          <ion-button class="btn-registrar" (click)="setOpen(false)" color="primary">Registrar</ion-button>

        </ion-content>
      </ng-template>
    </ion-modal>

    <!-- Modal para registrar un alumno al sistema -->
    <ion-modal [isOpen]="isSecondModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-icon name="arrow-back-outline" class="icon-modal-left" (click)="setSecondOpen(false)"></ion-icon>
            <ion-icon name="document-text" class="icon-modal-right" (click)="handleDocumentIconClick()"></ion-icon>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding ion-text-center">
          <h1>Registro de un alumno en el sistema</h1>

          <ion-item class="separator">
            <ion-input placeholder="  Nombre del alumno"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" placeholder=" Contraseña del alumno"></ion-input>
          </ion-item>

          <ion-button class="btn-cancelar" (click)="setSecondOpen(false)" color="danger">Cancelar</ion-button>
          <ion-button class="btn-registrar" (click)="setSecondOpen(false)" color="primary">Registrar</ion-button>
        </ion-content>
      </ng-template>
    </ion-modal>

    <!-- Modal para registrar alumnos en el sistema con txt -->
    <ion-modal [isOpen]="isThirdModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-icon name="arrow-back-outline" class="icon-modal-left" (click)="setThirdOpen(false)"></ion-icon>
            <!-- Falta desarrollar y definir qué es lo que vendrá en el recuadro de ayuda -->
            <ion-icon name="help-circle-outline" class="icon-modal-right" (click)="helpAlert()"></ion-icon>
          </ion-toolbar>
        </ion-header>
        
        <ion-content class="ion-padding ion-text-center">
          <h1>Registro de alumnos mediante un archivo de texto (.txt)</h1>
          
          <!-- Falta ver cómo se manejaran los delimitadores entre cada registro del alumno -->
          <ion-item class="separator">
            <input type="file" #fileInput accept=".txt" style="display: none;" (change)="handleFileInput($event)">
            <ion-button color="medium" (click)="fileInput.click()">{{ fileName || 'Seleccionar archivo .txt' }}</ion-button>
          </ion-item>          
        
          <ion-button class="btn-cancelar" (click)="setThirdOpen(false)" color="danger">Cancelar</ion-button>
          <ion-button class="btn-registrar" (click)="setThirdOpen(false)" color="primary">Registrar</ion-button>
        </ion-content>
      </ng-template>
    </ion-modal>


    <b><h3 class="groups-message">Tus grupos:</h3></b>

    <ion-card [color]="getColorAleatorio()" class="fixed-margin-card">
      <div class="icon-container">
        <ion-icon name="people-outline" class="icon-size"></ion-icon>
      </div>
      
      <div class="text-container">
        <ion-card-header class="ion-text-center">
          <ion-card-title>Grupo 4A</ion-card-title>
        </ion-card-header>
      
        <ion-card-content class="ion-text-center">
          Grupo de 4A, objetos peligrosos
        </ion-card-content>
      </div>
    </ion-card>

    <ion-card [color]="getColorAleatorio()" class="fixed-margin-card">
      <div class="icon-container">
        <ion-icon name="people-outline" class="icon-size"></ion-icon>
      </div>
      
      <div class="text-container">
        <ion-card-header class="ion-text-center">
          <ion-card-title>Grupo 4A</ion-card-title>
        </ion-card-header>
      
        <ion-card-content class="ion-text-center">
          Grupo de 4A, objetos peligrosos
        </ion-card-content>
      </div>
    </ion-card>
    
    <ion-card [color]="getColorAleatorio()" class="fixed-margin-card">
      <div class="icon-container">
        <ion-icon name="people-outline" class="icon-size"></ion-icon>
      </div>
      
      <div class="text-container">
        <ion-card-header class="ion-text-center">
          <ion-card-title>Grupo 4A</ion-card-title>
        </ion-card-header>
      
        <ion-card-content class="ion-text-center">
          Grupo de 4A, objetos peligrosos
        </ion-card-content>
      </div>
    </ion-card>
  </div>
</ion-content>