// Estilización de los ítems de Ionic - Usado en los inputs de los modals
ion-item {
    margin-top: 20px;
    margin-bottom: 20px;
}

// Titulo dentro del modal
ion-title {
    margin-top: 10px;
}

.button-container {
  display: flex;
  justify-content: center; 
  width: 100%; 
  padding: 10px 0; 
}

ion-button {
  margin: 0 10px; 
}

.button-container ion-button:last-child {
  margin-right: 0;
}

// Sección de los modals
// Ícono a la izquierda en modales - Usado para botones de retroceso en los modales
.icon-modal-left {
    font-size: 40px; 
    float: left; 
    margin-left: 10px; 
}

//Contenedor para mostrar las imagenes de x alumno o profesor
.image-authorization-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 25px;

    .slideLeft {
      animation: slideLeftAnimation 1s ease-in-out forwards;
      animation-fill-mode: forwards;
    }

    .slideRight {
      animation: slideRightAnimation 1s ease-in-out forwards;
      animation-fill-mode: forwards;
    }
  
    .image-button-container {
      display: flex;
      align-items: center;
  
      .button-group {
        display: flex;
        flex-direction: column; // Para que los botones estén uno encima del otro
        margin-left: 20px;
  
        ion-button {
          margin-bottom: 10px; // Espacio entre los botones
        }
      }
  
      img {
        max-width: 200px;
        height: auto;
        position: relative;
      }
  
      .image-authorized img {
        box-shadow: 2px 2px 16px lightgreen;
      }
  
      .image-unauthorized img {
        box-shadow: 2px 2px 16px lightcoral;
      }
    }
  
    .card-image-tooked {
      display: block; 
      margin: 20px auto 20px; 
      max-width: 200px; 
      max-height: 500px; 
      height: auto; 
      border-radius: 10px; 
      border: 3px solid #ccc;
    }
  
    @keyframes slideLeftAnimation {
      from {
        transform: translateX(-50px);
        opacity: 0;
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }
  
    @keyframes slideRightAnimation {
      from {
        transform: translateX(50px);
        opacity: 0;
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }
}  

ion-card {
  width: 90%; // Ancho fijo de la tarjeta
  border: 2px solid #ccc; // Color del borde exterior
  border-radius: 15px; // Bordes redondeados para la tarjeta
  box-shadow: 0 0 15px #FF8888; // Sombra de color pastel
  display: flex;
  flex-direction: column;
  justify-content: space-between; // Distribuye el espacio interior uniformemente

  ion-card-header {
    border-top: 2px solid #ccc; // Borde superior gris claro
  }

  ion-card-content {
    padding: 10px;
    overflow-y: auto; // Añade desplazamiento si el contenido excede la altura
  }
}

//Contenedor en caso de que no haya imagenes para mostrar
.no-images-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    p{
        text-align: center;
    }
}