<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" class="icon-modal-left" (click)="dismiss()"></ion-icon>
    <ion-title *ngIf="teacherLogged == 0">Fotografías autorizadas</ion-title>
    <ion-title *ngIf="teacherLogged == 1">Fotografías subidas</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content class="ion-padding" *ngIf="images.length > 0">
  <div class="image-authorization-container" *ngFor="let image of images; let i=index">
    <!-- Formato para la vista del estudiante -->
    <div *ngIf="teacherLogged == 0">
      <img [ngClass]="(i % 2 === 0 ? 'slideLeft' : 'slideRight')" (click)="studentShowImageDetail(image.user_id, image.image_id)" [src]="'https://knownhome.xyz/'+image.image_path" class="card-image-tooked">
    </div>
    <!-- Formato para la vista del maestro consultando sus imagenes -->
    <div *ngIf="teacherLogged == 1 && teacherImgs == 1">
      <div class="image-button-container">
        <img [ngClass]="(i % 2 === 0 ? 'slideLeft' : 'slideRight')" (click)="teacherShowImageDetail(image.user_id, image.image_id)" [src]="'https://knownhome.xyz/'+image.image_path" class="card-image-tooked">
        <ion-button color="danger" (click)="confirmDeleteImageFromTeacher(image.image_id)"><ion-icon color="light" name="trash"></ion-icon></ion-button>
      </div>
    </div>
    <!-- Formato para la vista del maestro consultando las imagenes del alumno -->
    <div *ngIf="teacherLogged == 1 && teacherImgs == 0">
      <div class="image-button-container">
        <img [ngClass]="(i % 2 === 0 ? 'slideLeft' : 'slideRight')" (click)="teacherShowImageDetail(image.user_id, image.image_id)" [src]="'https://knownhome.xyz/'+image.image_path" class="card-image-tooked">
        <div class="button-group">
          <ion-button color="danger" (click)="confirmDeleteImage(image.image_id)"><ion-icon color="light" name="trash"></ion-icon></ion-button>
          <ion-button *ngIf="teacherLogged == 1 && image.authorized == 0" (click)="checkStudentImage(image.image_id)" color="success"><ion-icon name="checkbox-outline" style="color: black;"></ion-icon></ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-content class="ion-padding" *ngIf="images.length == 0">
  <div class="no-images-container">
    <p>El usuario no ha tomado fotografías</p>
  </div>
</ion-content>