// Estilización de los ítems de Ionic - Usado en los inputs de los modals
ion-item {
    margin-top: 20px;
    margin-bottom: 20px;
}

// Titulo dentro del modal
ion-title {
    margin-top: 10px;
}

ion-card {
    margin: 15px 0;
    border: 2px solid white; 
    border-radius: 15px;
    box-sizing: border-box;
    padding: 10px;

    ion-card-content {
        padding: 10px; // Relleno dentro del contenido de la tarjeta, si ya lo tienes
    }
}

ion-badge {
    // Define un color de texto común por defecto, blanco en este caso puede funcionar bien para todos
    color: #fff;

    &.low {
        --background: #0000FF; 
        color: #fff; 
    }
    &.low-middle {
        --background: #008000; 
        color: #fff; 
    }
    &.middle {
        --background: linear-gradient(45deg, #FFE25D, #FDF7DC); 
        color: #333; 
    }
    &.middle-danger {
        --background: #FFFF00; 
        color: #333; 
    }
    &.danger {
        --background: #FF0000; 
        color: #fff; 
    }
}

// Sección de los modals
// Ícono a la izquierda en modales - Usado para botones de retroceso en los modales
.icon-modal-left {
    font-size: 40px; 
    float: left; 
    margin-left: 10px; 
}

// contenedor para mostrar una imagen en especifico
.photo-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    animation: show 1s ease-in-out forwards;
  
    img {
        width: 80%;
        max-width: 300px; 
        max-height: 400px;
        margin-top: 20px;
        border-radius: 10px;
        border: 3px solid white;
    }
    .photo-image{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    
    .photo-text {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 5px;

        h3{
            width: 90%;
            font-weight: bold;
        }
        p{
            width: 90%;
        }
    }

    @keyframes show {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

.low {
    --ion-background-color: #0000FF;

    /*--ion-background-color: linear-gradient(90deg, rgba(154,255,152,1) 8%, rgba(93,252,78,1) 100%); // Verdes suaves
    .photo-text {
      color: #2B2B2B; // Texto oscuro para mejor legibilidad
    }*/
}

.low-middle {
    --ion-background-color: #008000;

    /*--ion-background-color: linear-gradient(90deg, rgba(152,242,255,1) 8%, rgba(78,228,252,1) 100%); // Azules suaves
    .photo-text {
        color: #2B2B2B; // Texto oscuro para mejor legibilidad
    }*/
}

.middle {
    --ion-background-color: #FFE25D;
    --ion-background-color: linear-gradient(45deg, #FFE25D, #FDF7DC);

    /*--ion-background-color: linear-gradient(90deg, rgba(255,150,150,1) 8%, rgba(252,78,78,1) 100%); //linear-gradient(90deg, rgba(253,255,170,1) 8%, rgba(251,255,85,1) 100%);
    .photo-text {
        color: #2B2B2B; // Texto oscuro para mejor legibilidad
    }*/
}

.middle-danger {
    --ion-background-color: #FFFF00;

    /*--ion-background-color: linear-gradient(90deg, rgba(255,221,126,1) 8%, rgba(252,200,78,1) 100%); // Naranjas
    .photo-text {
        color: #2B2B2B; // Texto oscuro para mejor legibilidad
    }*/
}

.danger {
    --ion-background-color: #FF0000;
    
    /*--ion-background-color: linear-gradient(45deg, #CC4545, #f68a8a); // Rojos intensos
    .photo-text {
        color: #FFFFFF; // Texto claro para mejor legibilidad
    }*/
}