// AGM 09-01-24
// MOD: Ver si hay una mejor forma de centrar el contenido
/*.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}*/

// AGM 09-01-24
.custom-title {
    margin-top: 60%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    font-weight: 700; 
    text-align: center; 
}

// AGM 09-01-24
.custom-list {
    margin-left: 30px;
    margin-right: 30px;
    background: #121212;
    
    .input-container {
      display: flex;
      justify-content: center;
      gap: 10px;
  
      ion-item {
        --padding-start: 0;
        --padding-end: 0;
        --inner-padding-end: 0;
        --inner-padding-start: 0;
        max-width: 100px;
        width: 100%;
        --border-radius: 15px; // Ajusta esto para cambiar el radio del borde
  
        ion-input {
          --padding-start: 0;
          --padding-end: 0;
          text-align: center;
          --background: #FFF;
          --color: #000;
          --border-radius: 15px; // Asegúrate de que el ion-input también tenga bordes redondeados
        }
      }
    }
  }

// AGM 09-01-24
.button-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
}