<!-- AGM 09-01-2024 -->
<ion-content [fullscreen]="true">

  <h1 class="custom-title">Validación de correo electrónico</h1>

  <ion-list class="custom-list">
    <div class="input-container">
      <ion-item>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-input></ion-input>
      </ion-item>
    </div>
  </ion-list>

  <!-- Contenedor para el botón -->
  <div class="button-container">
    <ion-button expand="block" shape="round">Validar correo</ion-button>
  </div>
</ion-content>
