// AGM 31/01/2024

// Header del grupo
// Contenedor del header
.header-group {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin: 10px; 
    margin-top: 20px; 
}

// Mensaje de bienvenida - Centrado en el grupo de cabecera
.welcome-message {
    margin: 0; 
    text-align: center; 
}

.teacher-main-text {
    font-size: 28px;
    margin-bottom: 20px;
}

.student-main-text {
    font-size: 28px;
}

// Ícono a la izquierda - Alineado a la izquierda en el grupo de cabecera
.icon-left-back {
    font-size: 40px;
}

// Ícono a la derecha - Alineado a la derecha en el grupo de cabecera
.icon-right-camera {
    font-size: 40px;
}

// Usado en el menú deslizante
// Configuracion especifica del primer h1 en el menu
.menu-h1 {
    margin-top: 5px;
}

// Estilos para títulos secundarios - Aplicados a los títulos dentro de ion-content
ion-content h1:not(:first-child) {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 20px;
}

// Avatar alineado a la derecha - Usado en el menú deslizante
.avatar-right {
    width: 70px; 
    height: 70px; 
    margin: 5%;
}

// Cabecera con alineación específica - Utilizado en el menú deslizante y modales
ion-header {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}

// Sección de fotografías del profesor y alumno
// Margen fijo para tarjetas - Usado en las tarjetas de la sección de fotografías del profesor
.fixed-margin-card-teacher {
    display: flex;
    align-items: center; 
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px;
}

// Margen fijo para tarjetas - Usado en las tarjetas de la sección de fotografías del alumno
.fixed-margin-card-student {
    display: flex;
    align-items: center; 
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    padding: 5px;
}

// Contenedor de íconos con margen izquierdo - Usado en las tarjetas de alumnos y el profesor
.icon-container {
    margin-left: 10px;
    flex-grow: 0;
    flex-shrink: 0; 
}

// Variante del contenedor de íconos con margen derecho - Usado en las tarjetas de grupos y alumnos
.icon-container-v2 {
    margin-right: 10px; 
    flex-grow: 0; 
    flex-shrink: 0; 
}

// Contenedor de texto flexible - Usado en las tarjetas de grupos y alumnos
.text-container {
    flex-grow: 1; 
}


// Tamaño de ícono variante 2 - Usado en las tarjetas de la sección de grupos
.icon-size {
    font-size: 40px; 
}

// Tamaño de ícono variante 2 - Usado en las tarjetas de la sección de grupos
.icon-size-v2 {
    font-size: 30px; 
}

// Sección de los modals
// Ícono a la izquierda en modales - Usado para botones de retroceso en los modales
.icon-modal-left {
    font-size: 40px; 
    float: left; 
    margin-left: 10px; 
}

// Estilización de los ítems de Ionic - Usado en los inputs de los modals
ion-item {
    margin-top: 20px;
    margin-bottom: 20px;
}

// TextArea verticalmente ajustado en los modals
.large-textarea {
    --min-height: 150px; 
}

// Botón de cancelar con margen derecho - Usado en los modals
.btn-cancelar {
    margin-right: 10px; 
}

// Botón de registrar con margen izquierdo - Usado en los modals
.btn-registrar {
    margin-left: 10px; 
}

// Titulo dentro del modal
ion-title {
    margin-top: 10px;
}

// Margen para tarjetas dentro de modales - Usado en las tarjetas de los modales de alumnos registrados
.fixed-margin-card-modal {
    display: flex;
    align-items: center; 
    padding: 5px;
    margin-bottom: 20px;
}

// Estilos para la barra de búsqueda de alumnos en pantalla principal del grupo
.search-bar {
    width: 93%; 
    max-width: 500px; 
    margin: 0 auto; 
    margin-top: 30px;
}  

// Estilos para la barra de búsqueda de alumnos en los modal
.search-bar-modal {
    width: 93%; 
    max-width: 500px; 
    margin: 0 auto; 
}

// Sección de autorizacion de imagenes
.image-authorization-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    border-top: 1px solid #ccc; 
    padding-top: 20px; 
    padding-right: 20px; 
  
    .text-button-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 20px;
  
      .authorize-text {
        margin-top: -40px;
        margin-bottom: 10px; 
      }
    }
  
    .image-container {
        text-align: right; 
      
        img {
            width: 200px; 
            height: auto;
            object-fit: contain; 
        }
        
        .image-info,
        .image-date {
            display: block;
        }
      
        .authorized {
            color: green;
        }
        .no-authorized {
            color: #ff0000;
        }
    }
}

// Sección de imagen en específico  
.photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  
    img {
      width: 80%;
      max-width: 300px; 
      margin-top: 20px; 
      border-radius: 10px; 
    }
  
    .item-title {
      font-size: 1.2em;
      font-weight: bold;
      margin-top: 20px;
    }
  
    .item-name {
      font-size: 1.1em;
    }
  
    .item-description {
      border-radius: 10px; 
      padding: 15px; 
      margin: 0; 
    }

    .item-classification {
        border-radius: 10px; 
        padding: 15px;
        margin-top: -20px;
    }
  
    .photo-credit {
      margin-top: -20px;
    }
}

//Animations

.show{
    animation: show 1s ease-in-out forwards;
}

.remove{
    animation: remove 1s ease-in-out forwards;
    
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes remove {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}