// AGM 03-01-24
.custom-title {
  text-align: center; 
  width: 100%; 
  margin-top: 35%; 
  margin-bottom: 20px; 
}

// AGM 03-01-24
.custom-list {
  width: 75%;
  margin: 0 auto; 
  background: #121212; 
  ion-input {
      margin-bottom: 10px; 
      --background: #FFF;
      color: #000;
    }
}

// AGM 03-01-24
.button-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
}

// AGM 04-01-24
.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;

  .line {
    background-color: currentColor; 
    height: 1px;
    flex: 1;
    margin: 0 8px;
  }

  .separator-icon {
    font-size: 14px; 
  }
}

.google-button {
  display: flex;
  justify-content: center; 
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 5%;
  margin-left: 5%;
  color: white; 
  font-size: 11px;

  ion-icon {
    margin-right: 8px;
  }
}

.login-link {
  text-align: center;
  margin-top: 15px;
  a {
    color: var(--ion-color-primary); 
    text-decoration: none;
  }
}